.cardDoacao {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
    padding: 80px;

}

h1 {
    font-family: "Source Sans 3", sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: #205691;
    text-align: center;
    margin-bottom: 40px;
    padding: 50px 0 0 0;
}