
$cor-Primaria: #205691;
$cor-Secundaria:#FD7267;
$cor-Texto: #FFFFFF;
$cor-Borda:#00AAFF;
$cor-sublinhado:#278733;

.main{
    display: flex;
    justify-content: center;
    padding: 180px 20px;
    margin: 50px 0;
   
}

.card{
    display: flex;
    align-items: center;
    gap: 40px;
    background: #f8f8f8;
    border-radius: 16px;
    padding: 40px;
    max-width: 1100px;
    width: 100%;
    border: 1px solid #e5e5e5;
}

.imgUsuario{
    border: solid 6px $cor-Borda;
    border-radius: 50%;
    width: 220px;
    height: 220px;
    object-fit: cover;
}

.conteudo{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.descricaoUser{
    h2{
        font-family: "Inter", sans-serif;
        font-size: 2rem;
        font-weight: 400;
        margin-bottom: 5px;
    }

    h4{
        color: $cor-sublinhado;
        font-weight: 400;
        margin-bottom: 15px;
    }

    p{
        font-family: "Inter", sans-serif;
        font-size: 16px;
        max-width: 600px;
    }
}

.infoUser{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;

    div{
        display: flex;
        align-items: center;
        gap: 8px;   
        font-size: 0.9rem;
    }

    img{
        width: 18px;
    }
}

.areasInteresse{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

    p{
        background-color: #D4E7D6;
        padding: 6px 16px;
        border-radius: 30px;
        color: $cor-sublinhado;
        font-size: 0.8rem;
    }
}

@media (max-width: 768px){

    .card{
        flex-direction: column;
        text-align: center;
    }

    .infoUser{
        justify-content: center;
    }

    .imgUsuario{
        width: 180px;
        height: 180px;
    }
}
